#contacts{
   
    width: 100vmax;
    border: .2vmax solid rgb(82 23 23 / 0%);
    display: flex;
    background-color: rgba(153, 157, 196, 0.336);
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}

.social{
    display: flex;
    width: 100vmax;
    height: 10vmax;
    
   
}

.social-1,.social-2,.social-3,.social-4{
    width: 33%;
   
    display: flex;
    
  
    justify-content: left;
    align-items: center;
    
}

.social-1>a,.social-2>a,.social-3>a,.social-4>a{

    position: relative;
    left:12vmax;

}
.address>img{
    height: 2vmax;
    width: 2vmax;
    
    position: relative;
    top:.1vmax;
   
}
