*{
    border: 0%;
    padding: 0%;
    margin: 0%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.container-1{
    
    width: 100vmax;
    height: 70vmax;
    display: flex;
    height: auto;
  

    
   
    
    
}
h2{
    font-size: 1vmax;
}
.sidebar{
    width: 30vmax;
    height:60vmax ;
  
    
    border: .2vmax solid rgb(207, 193, 212);
    

    margin-left: .2vmax;
    display: flex;
    
    flex-direction: column;
   text-align: center;
  
   


    
}
li{
    text-align: start;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.sidebar-1{
    border: .2vmax solid rgb(173, 29, 29);
    padding: 1vmax;
    margin: .5vmax;
    height:33%;
    overflow: auto;
    margin-top: 2vmax;
    
    
    
}





  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    width: 70vmax;
    height:100%;

   
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  img{
    height: 45vmax;
    width: 100%;
    background-size: cover;
  }
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 1.6vmax;
    margin-top: -5.0vmax;
    color: white;
    font-weight: bold;
    font-size: 2.0vmax;
    border-radius: 0 .3vmax .3vmax 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: .3vmax 0 0 .3vmax;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 1.2vmax;
    padding: .8vmax 1.2vmax;
    position: absolute;
    top: 0;

  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: .2vmax 1.6vmax;
    color: white;
  }
  
  .row{

    margin: 2vmax;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
    height: 16%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
