.first_con{
   
  
  height: 35vmax;
  display: flex;
  width: 100vmax;
  align-items: center;
  flex-wrap: nowrap;
  justify-content:space-between;
 
}


.first_con>img{
 
  height: 25vmax;
  width: 30vmax;
  border-radius: 50vmax;
  position: relative;
  left:2vmax;

}

.quotes>p { 

  font-size: 2vmax;
  height: 25vmax;
  width: 68vmax;
  font-family: 'Roboto';
  position: relative;
  left: 1vmax;

    
}
