*{
    margin: 0%; 
    padding: 0%;
    border: 0%;
    
    
}

.footer{
    height: 5vmax;
    width: 100vmax;
    background-color: black;
    border: .2vmax solid black;
    font-family: 'Courier New', Courier, monospace;
    
}

.footer-copy{
    
    text-align: center;
    font-size:2vmax;
    color: white;
    position: relative;
    top:2vmax;
 
  
   
}
