.founder{
    height: 100vmax;
    width: 100vmax;
    border: .2vmax solid rgb(82 23 23 / 0%);
    display: flex;
    background-color: rgba(47, 58, 177, 0.336);
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}




#founder-1,#founder-2{
    height:40vmax;
    width: 30vmax;
    


}

.f-logo-1{
    height: 80%;
    width: 100%;
    border:  .1vmax solid rgba(125, 182, 233, 0.701) ;
    border-radius: 50%;
    background-image: url(f-1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}

.f-logo-2{
    height: 80%;
    width: 100%;
    border:  .1vmax solid rgba(125, 182, 233, 0.701) ;
    border-radius: 50%;
    background-image: url(f-2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}

#founder-1>pre,#founder-2>pre{
    font-size: 2vmax;
    color:black;
    text-align:start;
}
