*{
    border: 0%;
    padding: 0%;
    margin: 0%;
    font-family:Arial, Helvetica, sans-serif;
    

}
.main_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.nav{
    
    width: 100vmax;
   height: 7vmax;
   /*border: 4px solid rgb(9, 255, 0);*/
    background-color: rgba(139, 231, 130, 0.651);
    display: flex;
    align-items:center;
    justify-content: space-evenly;
   /* position: fixed;
    top: 0%;
    z-index: 1;*/
    font-weight:bold;
}


.nav-logo{
    border-radius: 11vmax;
   
    border: .1vmax solid black;
    height:7vmax;
    width: 7vmax;
    margin: 0vmax;
    background-image: url(65745233_1805730209572128_1754042056453390336_n.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-color: white;
    position: relative;
    left: 0vmax;
   
}

#home{
    
    height: 20px;
    width: 40px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
   
    
}
a{
    text-decoration: none;
    color: rgba(25, 36, 35, 0.947);
    font-size: 16px;
    font-weight: bold;
    


}

.dropbtn{
    
    
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;

    
  
   
}

.course{

   padding: 5px;
   border-radius: 5px;
    
  
}

.dropdown-contain{
    display:none;
    position: absolute;
    background-color: #ebf7f8;
    z-index: 1;
}
.dropdown-contain a{
    color: black;
    padding: 12px 16px;
    display: block;

}
.dropdown-contain a:hover{
    background-color: #61f5e6;
}
.course:hover .dropdown-contain{
    display: block;

}


.teachers{
    
   padding: 5px;
   border-radius: 5px;
}
#gallery,#contact{
    
   padding: 5px;
   border-radius: 5px;
}

.teachers:hover .dropdown-contain{
    display: block;

}



.teachers:hover,#home:hover,.course:hover,#gallery:hover,#contact:hover{
    background-color: hsla(240, 24%, 67%, 0.711);
}



.teachers::after{
    background-color: hsla(240, 24%, 67%, 0.711);
}








.header{
 
    width: 100vmax;
    
    /*border: 4px solid rgb(9, 255, 0);*/
    background-color:aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;

  

}
 
.header>h1{
    font-size: 3.5vmax;
    color: rgb(38, 0, 141);
}
 
.header>p{
    font-size: 1.5vmax;
    color: rgb(38, 0, 141);
}
